.head-title{
	/*color: rgb(251, 164, 0);*/
  color: darkslategrey;
}

.carousel-caption{
	background-color: rgba(33, 33, 33, 0.37);
}


#slide1{
	background-image: url("../images/tasty1.PNG");
}

#slide2{
	background-image: url("../images/recipe-banner.jpg");
}

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #333;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.login{
  padding: 25%;
}

#slide3{
    background-image: url("../images/wong.jpg");
    width: 100%;
}
.banner {

    margin-top: 15px;
    background-color: rgba(218, 171, 111, 0.37);
    height: 27vh;
    /* background-image: url("../images/wood-light.jpg"); */
}
.descriptionthai {
    position: relative;
    top: -110px;
    left: 320px;
    width: 730px;
    display: inline;
    height: 0px;
    margin-bottom: 0px;
    color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
}
.banner > img{
    margin-top:2%;
    margin-left:1%;
    /*background-color: black;*/
}
.description {
    position: relative;
    top: -90px;
    left: 280px;
    width: 730px;
    display: inline;
    height: 0px;
    margin-bottom: 0px;
    color: yellowgreen;
}
.content {
	min-height: 80vh;
    margin-top: 70px;
    margin-bottom: auto;
    /*background-image: url('../images/wood-light.jpg');*/
    background-color: bisque;
}
.string{
    margin-top: 4%;
}
.navbar-wrapper .container {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-wrapper .navbar .container {
    width: 95%;
}

.button{
    margin-bottom: -35px;
    margin-top: 10px;
}
.centent-detail{
    height: 777px;
    overflow: scroll;
    background-color: #FFC1C1;

}
.text-recipe{
   
}

.preview img{
    width:360px;
}

.thumbnail{
    height: 280px;
}

.card{
    background-color: rgba(202, 190, 172, 0.43);
    border-radius: 9%;
    margin-left: 15px;
    height: 315px;
}
.card > img{
    margin-top: 10px;
}

.card >p{
    height: 58px;
}

@media (min-width: 1200px) {
    .card {
        width: 30.333333%;
    }
}

pre{
    width:700px;
}