body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background-image: url('image/mc.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 60%;
    /*background-color: #ffffcc;*/
}

h2{
    float: none;
}
nav ul
{
    background-color:black;
    overflow: hidden;
    color: #00df00;
    text-align: center;
    padding: 0px;
    margin: 0;
}
a
{
    text-decoration: none;
    color: white;
}
nav ul li
{
    padding: 10px;
 display: inline-block;
}
nav ul li:hover
{
    background-color: #8B7355; //แก้สี
    padding: 10px;
}
.ridge
{
    border-style: ridge;
    text-shadow: 1px 1px rgba(217, 222, 28, 0.58);
    font-size: 25px;
}
nav ul li:hover ul
{
    display: block;
}
nav ul ul
{
    display: none;
    position:absolute;
}
nav ul ul li
{
    display: block;
}
/* setup the responsive size of the container */
/* set the max-width to the actual width of the images and the width to the size when the browser width is less than the max-width */
/* margin:0 auto; centers the slideshow */
.slideshow {width:749px;  margin:0 auto; position:relative; overflow:hidden; border-style:groove}
/* position the images and make them 100% width, display:block is used to remove the bottom padding that some browsers add to the images */
.slideshow img {position:absolute; top:0; left:-100%; width:100%; display:block;  z-index: -1;}
/* make the first image position:relative; to set the responsive height of the slideshow */
.slideshow img:first-child {position:relative;}
/* the animation for each slide */
/* each slide is shown for 6 seconds and the total time for the 8 slides is 48 seconds with each slide delayed 6 seconds after the previous slide */
/* we need two animations for each image, one for Chrome, Safari and Opera, and the other for Firefox and Internet Explorer */
.slideshow img:nth-of-type(1) {-webkit-animation:autoplay 48s linear infinite 0s; animation:autoplay 24s linear infinite }
.slideshow img:nth-of-type(2) {-webkit-animation:autoplay 48s linear infinite 6s; animation:autoplay1 24s linear infinite }
.slideshow img:nth-of-type(3) {-webkit-animation:autoplay 48s linear infinite 12s; animation:autoplay2 24s linear infinite }
.slideshow img:nth-of-type(4) {-webkit-animation:autoplay 48s linear infinite 12s; animation:autoplay3 24s linear infinite }
/* animation keyframes one for Firefox and Internet Explorer, the other for Chrome, Safari and Opera */
/* the show time for each slide is 100/8 = 12.5% of the total time */
/* the slide in time is 1% and the slide out time is 12.5% + 1% = 13.5% */
/* you can adjust the slide in and out time to make it faster or slower */
@keyframes autoplay {
    0%, 16.7% {left:0%;}
    25%,41.7% {left:100%;}
    50%,67.7% {left:200%;}
    76%,92.7% {left:300%;}
    100%{left:0%;}
}
@keyframes autoplay1 {
    0%, 16.7% {left:-100%;}
    25%,41.7% {left:0%;}
    50%,67.7% {left:100%;}
    76%,92.7% {left:200%;}
    100%{left:-100%;}
}
@keyframes autoplay2 {
    0%, 16.7% {left:-200%;}
    25%,41.7% {left:-100%;}
    50%,67.7% {left:0%;}
    76%,92.7% {left:100%;}
    100%{left:-200%;}
}
@keyframes autoplay3 {
    0%, 16.7% {left:-300%;}
    25%,41.7% {left:-200%;}
    50%,67.7% {left:-100%;}
    76%,92.7% {left:0%;}
    100%{left:-300%;}
}
@-webkit-keyframes autoplay {
    0%, 16.7% {left:0%;}
    25%,41.7% {left:100%;}
    50%,67.7% {left:200%;}
    76%,92.7% {left:300%;}
    100%{left:0%;}
}
@-webkit-keyframes autoplay1 {
    0%, 16.7% {left:-100%;}
    25%,41.7% {left:0%;}
    50%,67.7% {left:100%;}
    76%,92.7% {left:200%;}
    100%{left:-100%;}
}
@-webkit-keyframes autoplay2 {
    0%, 16.7% {left:-200%;}
    25%,41.7% {left:-100%;}
    50%,67.7% {left:0%;}
    76%,92.7% {left:100%;}
    100%{left:-200%;}
}
@-webkit-keyframes autoplay3 {
    0%, 16.7% {left:-300%;}
    25%,41.7% {left:-200%;}
    50%,67.7% {left:-100%;}
    76%,92.7% {left:0%;}
    100%{left:-300%;}
}

.banner{
    background:url("/wongnauk/public/images/bg-baner.jpg");
    margin-top: 0px;
    margin-bottom: 0px;

}
.banner-admin > img{
    width:200px;
    height:60px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.line{
    height: 40px;
    background-color: black;
}
.detail{
    background:url("/wongnauk/public/images/bg-baner.jpg");
    margin-top: 0px;
    margin-bottom: 0px;
    height:60px;
}

html,body{
    height: 100%;
}

body > #container{
    height: auto; 
    min-height: 77%; 
}

#container{
    margin-top: 68px
}
h1{
    text-align: center;
}